<form method="get" class="row g-3">

    <div class="col-md-6">
        <label for="bird_name" class="form-label">Nom de l'oiseau</label>
        <select id="bird_name" name="bird_name" class="form-select">
            <option value="">Tous</option>
            <!-- Options remplies dynamiquement avec les surnoms -->
        </select>
    </div>
    <div class="col-md-6">
        <label for="date" class="form-label">Date</label>
        <input type="date" id="date" name="date" class="form-control">
    </div>
    <div class="col-12">
        <button type="button" id="btn-rechercher" class="btn btn-search">
            Rechercher
        </button>
    </div>
    
</form>